<!-- navbar.html -->
<div
  class="sidebar bg-light"
  style="width: 250px; height: 100vh; position: fixed"
>
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item my-2">
        <a class="btn btn-success w-100" href="/user/dashboard">Dashboard</a>
      </li>
      <li class="nav-item my-2">
        <a class="btn btn-primary w-100" href="/user/predict"
          >Predict Malnutrition</a
        >
      </li>
      <li class="nav-item my-2">
        <a class="btn btn-info w-100" href="/user/view-predictions"
          >View Predictions</a
        >
      </li>
      <li class="nav-item my-2">
        <a class="btn btn-secondary w-100" href="/user/profile">Profile</a>
      </li>
      <li class="nav-item my-2">
        <a class="btn btn-warning w-100" href="/user/change-password"
          >Change Password</a
        >
      </li>
      <li class="nav-item my-2">
        <a class="btn btn-danger w-100" href="/user/logout">Logout</a>
      </li>
    </ul>
  </div>
</div>
