<!-- admin/navbar.html -->
<div class="d-flex flex-column">
  <a href="/admin/dashboard" class="btn btn-success mb-2">Dashboard</a>
  <a href="/admin/get-all-user" class="btn btn-info mb-2">All Users</a>
  <a href="/admin/child-data" class="btn btn-primary mb-2">Child Data</a>
  <a href="/admin/household-data" class="btn btn-primary mb-2"
    >Household Data</a
  >
  <a href="/admin/prediction-data" class="btn btn-primary mb-2"
    >Prediction Data</a
  >
  <a href="/admin/change-admin-password" class="btn btn-warning mb-2"
    >Change Password</a
  >
  <a href="/admin/logout" class="btn btn-danger mb-2">Logout</a>
</div>
